<style>
        body{
            background-color:#1a1a1a;
            color:white;
            font-family:Arial, sans-serif;
            margin:20px;
        }

        h1{
            color:#ff3333;
            text-align:center;
        }

        h2{
            color:#ff6666;
        }

        img{
            display:block;
            margin:auto;
            border:3px solid #ff3333;
        }

        .caixa{
            background-color:#2b2b2b;
            padding:15px;
            border-radius:10px;
            margin-top:15px;
        }
    </style>